*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


.py{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    padding: 20px;
   
}

nav>h3>span{
    color: cadetblue;
}


.o{
    
    display: flex;
    gap: 20px;
    list-style: none;
   cursor: pointer;
    font-size: large;
   
}

.py>h3{
    font-style: italic;
    cursor: pointer;
}





.o>li:hover{
    color: chocolate;
    
}

.ks>button{
   padding: 10px 20px;
    border-radius: 10px;
     cursor: pointer;

}

.ks>button:nth-child(1){
    background-color: cornflowerblue;
}

.ks>button:nth-child(2){
    background-color: yellow;
}

.ks>button:hover{
    background-color: white;
    color: black;
}



